* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #66fcf1;
  font-family: Arial, Helvetica, sans-serif;
  /* height: 100vh; */
}
.container {
  width: 100%;
  /* height: 100vh; */
}
.navbar {
  height: 7%;
  background-color: black;
  display: flex;
  align-items: center;
}
.home a {
  text-decoration: none;
  color: rgb(96, 222, 199);
  padding: 15px;
  font-size: 20px;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-left: 25px;
  padding: 15px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(96, 222, 199);
  font-size: 15px;
}
nav {
  flex: 1;
  text-align: right;
}

.row {
  background-color: rgb(96, 222, 199);
  display: flex;
  align-items: center;
}
.col {
  flex-basis: 100%;
}

button {
  width: 180px;
  color: #fff;
  font-size: 12px;
  padding: 12px 0;
  background: #000;
  border: 0;
  border-radius: 20px;
  outline: none;
  margin-top: 30px;
}
img {
  border-radius: 10px;
}
.card {
  width: 280px;
  height: 350px;
  display: inline-block;
  /* border: 10px solid black; */
  border-radius: 20px;
  padding: 15px 25px;
  box-sizing: border-box;
  cursor: pointer;
  margin: 30px 80px;
  transition: transform 0.5s;
  background-position: center;
  background-size: cover;
}

.card:hover {
  transform: translateY(-10px);
}
